/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #dbe4ff;
  color: black;
}

.nav-links a {
  color: black;
}

/* LOGO */
.logo {
  font-size: 30px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}

.menu li:hover {
  background-color: #d0bfff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu :hover a {
  color: #000;
}

.menu li {
  padding: 5px 14px;
  padding-top: 10px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #535353;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #535353;
  }
}

/* MADE BY MYSELF */
.contact {
  text-align: center;
}

/* CSS For Contact form */

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  width: 150px;
  align-self: center;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  outline: none;
}

#message {
  height: 200px;
}

/* FOOTER STYLING */
.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  max-width: 100%;
  height: 16rem;
  background-color: #dbe4ff;
  margin-top: 3rem;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 25px;
}

.footer-heading h2 {
  margin-bottom: 1rem;
}

.footer-heading a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0.1rem;
}

.footer-heading a:hover {
  color: rgb(25, 135, 84);
  transition: 0.3s ease-out;
}

/* FOOTER MEDIA QUERIES */
@media screen and (max-width: 850px) {
  .footer-container {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-heading {
    padding: 20px;
  }
}

/* CONTACT MEDIA QUERIES */
@media screen and (max-width: 850px) {
  .container-contact {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .content-contact {
    width: 100%;
  }
}

/* NEW STYLING 25-4 */

/* CONTAINERS */
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  place-items: center;
  background-color: #dbe4ff;
}

.services-container {
  width: 100%;
  height: auto;
}

.steps-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 80px;
  /* background-color: #d0bfff; */
  background-color: #e5dbff;
}

.step-form {
  display: grid;
  grid-template-columns: auto 1fr;
}

.container-contact {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* CONTENT DIVS */
.header-content {
  max-width: 100%;
  max-height: 100%;
  padding: 50px;
}

.services {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 0 140px 0 140px;
}

.services-content {
  text-align: center;
  margin: 20px;
}

.button-content {
  text-align: center;
  margin-top: 18px;
}

.steps-content {
  padding: 50px;
}

/* IMAGES */
.header-image {
  width: 100%;
  height: 100%;
}

.steps-image,
.progress-image {
  width: 80%;
  height: 80%;
  max-width: 100%;
  max-height: 100%;
}

/* BUTTONS */
.hire-button {
  background-color: #ffbd02;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: 52px;
  letter-spacing: 0.1em;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.hire-button:hover,
.services-button:hover {
  background-color: #12b886;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.services-button,
.contact-button {
  background-color: #ffbd02;
  width: 240px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 56px;
  letter-spacing: 0.1em;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.meeting-button {
  background-color: #d0bfff;
  width: 240px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 56px;
  letter-spacing: 0.1em;
  text-align: center;
  box-shadow: 0 6px 3px #d0bfff;
}

.meeting-button:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

/* TEXT */
.header-text {
  padding-bottom: 45px;
}

/* ICONS */
.services-icon {
  width: 84px;
  height: 84px;
  margin-bottom: 15px;
}

.check-icon {
  width: 26px;
  height: 26px;
}

/* MEDIA QUERIES */

/* HEADER */
@media screen and (max-width: 850px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .header-content {
    padding: 20px;
    font-size: 14px;
  }
  .header-image {
    width: 80%;
    height: 80%;
  }
  .hire-button {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
}
